

.container1{
  background-color: black;
  
}

.container1-1{
  background-color: brown;
  height: 1230px;
 
}

.container1-2{
  background-color: blue;

}

@media (min-width: 2000px) {
  .tamanho1 {
      width: 250px;
     
  }}

.fixed-size {
    width: 70px;
    height: 70px;
}

.img1 {
  width: 500px;
  height: 500px;
}

 