

.container1{
  background-color: rgb(65, 65, 219);
  
}

.container1-1{
  background-color: brown;
  height: 100vh;
 
}

.container1-2{
  background-color: blue;

}

@media (min-width: 2000px) {
  .tamanho1 {
      width: 250px;
     
  }}

  @media (min-width: 500px) {
    .img1 {
      width: 150px;
      height: 150px;
  }
  .entradas{
    width: 700px; 
    margin-right: 50px;
  }}

  @media (min-width: 300px) and (max-width:500px){
    .img1 {
      width: 50px;
      height: 50px;
  }
  .entradas{
    width:225px; ;
  }
  .senha{

  }
  }
  @media(min-width: 501px)and (max-width: 1600px){
    .entradas{ width: 30vh;
    margin-left:20px ;}
    

  }

  @media(min-width: 501px)and (max-width: 680px){
    .entradas{ width: 20vh;
    margin-left:20px ;}
  }
 @media(max-width:719px){ .checkboxsenha{margin-bottom: 22px;}

 }




 